body{background-color:black;color:white;}
h1{font-family:Artifika;font-size:50px}
hr{border:2px navy solid;}
img{border-radius: 500px;background-color:white;width:180px;border:white 5px solid;}
.abt{font-family:'Averia Gruesa Libre';font-size:20px;}
.abt img{border:1px white solid;vertical-align:middle;width:40px;}
.lftLnk{float:left;}
.rgtLnk{float:right;}

.container {position: relative;width: 100%;max-width: 400px;}
.container p{font-family:bangers;font-size:25px;}
.image {display: block;}
.overlay {position: absolute;top: 0;bottom: 0;left: 0;right: 0;opacity: 0;transition: .3s ease;}
.overlay img{width:300px;}
.container:hover .overlay {opacity: .9;}
.profPic {background-color:black;width:300px;}


@media screen and (max-width: 800px){
img{width:100px;}
.container{clear:both}
.lftLnk{margin-left:5%;}
.rgtLnk{margin-right:5%;}
}
